<header class="border-b border-gray-300 dark:border-gray-700 mb-4 pb-2">
  <h1 class="text-3xl font-bold text-gray-900 dark:text-white"><%= t('.title') %>:</h1>
</header>

<main role="main" class="flex justify-center items-center min-h-screen bg-gray-50 dark:bg-gray-900">
  <code id="authorization_code" class="bg-gray-100 dark:bg-gray-800 p-4 rounded text-lg text-gray-900 dark:text-gray-200 shadow">
    <%= params[:code] %>
  </code>
</main>
